<!DOCTYPE html>
<html>
<head>
	<title>Mongoose Dashboard</title>
</head>
<body>
	<ul>
		<% for (var i=0; i < animaldata.length; i++) { %>
            <h3><%= animaldata[i].name %> (ID: <%= animaldata[i]._id %>)</h3>
            <p><%= animaldata[i].description %></p>
            <button><a href="mongooses/edit/<%= animaldata[i]._id %>">Edit</a><button><form action='/mongooses/destroy/<%= animaldata[0]._id %>' method='post'><input type='submit' value='Delete'></form>
            <% if (i != animaldata.length - 1) { %>
            <hr>
            <% } %>
        <% } %>
	</ul>
</body>
</html>